<% if user_signed_in?%>
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-2">Salut <%=current_user.pseudo%>, Quoi de neuf !</h1>
		  <p class="lead">En manque d'inspi?? Envie de te faire un petit gueulton ?? c'est par ici</p>
		  <hr class="my-4">
		  <%= link_to 'Geulton', dishes_path, class:"btn btn-primary btn-lg", role:"button" %>
		</div>
	</div>

<%else%>

	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-2">Bonjour à toi l'ami!</h1>
		  <p class="lead">Une petit faim ? tu es à la bonne adresse !</p>
		  	<p> Mais pour acceder aux fiches repas crée toi un compte ou connecte te toi !</p>
		</div>
	</div>

<%end%>